@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Scritpure Journal</h1>
    <p>This site is to help you create and maintain "Scripture Events" that
        store your favorite scripture verses, and a few thoughts you have on that
        verse.
    </p>
</div>
